h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}

ul {
    list-style-type: none;
    margin-top: 12px;
    padding-bottom: 10px;
    padding-left: 4px;
    border-bottom: 1px solid #d3d3d3;
}

li {
    display: inline;
    border: 1px solid #d3d3d3;
    padding: 10px 20px;
    border-radius: 4px 4px 0 0;
    background: #e6e6e6;
    margin-right: 2px;
    font-family: calibri, sans serif;
    font-size: 12pt;
    color: black
}

.liselected{
    border: 1px solid #aaaaaa;
    border-bottom: 1px solid #eeeeee;
    background: #eeeeee;
}

.tooltip{
	position: absolute;
	z-index: 10;
	background-color: #333333;
	color: #FFFFFF;
	opacity: 0.8;
	font-family: calibri, sans serif;
    font-size: 12pt;
	border-radius: 3px;
	border: 1px solid #d3d3d3;
	padding: 4px;
}

#warpic{
	position: absolute;
	z-index: 10;
	width: 300px;
	left: 150px;
	top:440px;
}

a{
    text-decoration: none;
}

hr{
    border-width: 0px;
    padding-top: 1px;
    background-color: #d3d3d3;
}

.axis path, .axis line {
    fill: none;
    stroke: black;

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

.btn {
	width: 100px;
	font-family: calibri, sans serif;
	padding: 10px;
	border: solid 1px black;
	color: white;
}

text{
   font-family: calibri, sans serif;
   
}

p{
   font-family: calibri, sans serif;
   font-size: 12pt;
}

#divfor2slider{
	width: 500px;
}

#bubble_map{
	background: #ddeeff;
	width: 600px;
	display: table-row;
	float:left;
}

#bar_chart{
	border-left: 20px solid;
	border-color: rgba(0, 0, 0, 0);
	width: 600px;
	height: 780px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#line_chart{
	width: 600px;
	display: table-row;
    float: left;
	position: absolute;
	top: 680px;
}

#sportschoices{
	display: table-row;
	float:left;
}

#medalschoices{
	display: table-row;
    font-family: calibri, arial, sans serif;
}

#amount{
	font-family: calibri, sans serif;
    font-size: 12pt;
}

#fieldinput{
	width:100%;
}

#country{
background-color:#f0D0D0;
}