h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}

ul { 
  
    list-style-type: none;
    margin-top: 12px;
    padding-bottom: 10px;
    padding-left: 4px;
    border-bottom: 1px solid #d3d3d3;
}

li {
    display: inline;
    border: 1px solid #d3d3d3;
    padding: 10px 20px;
    border-radius: 4px 4px 0 0;
    background: #e6e6e6;
    margin-right: 2px;
    font-family: calibri, sans serif;
    font-size: 12pt;
    color: black
}

a{
    text-decoration: none;
}

.liselected{
    border: 1px solid #aaaaaa;
    border-bottom: 1px solid #eeeeee;
    background: #eeeeee;
}

.tooltip{
	position: absolute;
	z-index: 10;
	background-color: #333333;
	color: #FFFFFF;
	opacity: 0.8;
	font-family: calibri, sans serif;
    font-size: 12pt;
	border-radius: 3px;
	border: 1px solid #d3d3d3;
	padding: 4px;
}

.sliderpequeno{
	height: 10px !important;
	width: 21px !important;
	font-family: calibri, sans serif !important;
    font-size: 9px !important;
	text-align: center;
	margin-left: -11px !important;
	/*fullsize is 21px tall, plus 1px border above and below*/
	/*this leaves 21-2 (two extra borders) /2 for each small slider, around 9px*/
}

.slidermin{
	top: 6px !important;
}

.slidermax{
	top: -5px !important;
}


#warpic{
	position: absolute;
	z-index: 10;
	width: 300px;
	left: 130px;
    top: 390px;
}

hr{
    border-width: 0px;
    padding-top: 1px;
    background-color: #d3d3d3;
}

.axis path, .axis line {
    fill: none;
    stroke: black;

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

.btn {
	width: 100px;
	font-family: calibri, sans serif;
	padding: 10px;
	border: solid 1px black;
	color: white;
}

text{
   font-family: calibri, sans serif;
   font-size: 14;
}

p{
   font-family: calibri, sans serif;
   font-size: 12pt;
}

#divfor2slider{
	width: 500px;
	margin-left: 10px;
	height: 60px;
}

#bubble_map{
	background: #ddeeff;
	width: 600px;
	display: table-row;
	float:left;
}

#bar_chart{
	border-left: 20px solid;
	border-color: rgba(0, 0, 0, 0);
	width: 600px;
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#line_chart{
	width: 600px;
	display: table-row;
    float: left;
	position: absolute;
	top: 620px;
}

#sportschoices{
	display: table-row;
	float:left;
}

#medalschoices{
	width:500px;
 height:20px;
float:right;
margin-top:10px;
	font-family: calibri, arial, sans serif;
}


#amount{
	font-family: calibri, sans serif;
    font-size: 12pt;
}

#fieldinput{
	width:100%;
}
#country2{
background-color:#f0D0D0;
}

#country1{
background-color:#D0F0D0;
}

button {
background-color:white;
border: none;
outline:none;
}		
		
.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #2c3e50;
  margin: -60px 0 0 500px;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 10px;
  transform: scale(0.2);
}
.play:before {
  content: '';
  position: absolute;
  top: -75px;
  left: -114px;
  bottom: -75px;
  right: -35px;
  border-radius: 50%;
  border: 10px solid #2c3e50;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: '';
  opacity: 1;
  width: 50px;
  height: 80px;
  background: #2c3e50;
  position: absolute;
  right: 5px;
  top: -40px;
  border-left: 20px solid #2c3e50;
  box-shadow: inset 30px 0 0 0 #f9f9f9;
}


/* .numberSilver */
.numberSilver {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.numberSilver label {
  width: 20px;
  height: 20px;
  right:207px;
  top:-160px;
  cursor: pointer;
  position: absolute;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.numberSilver label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
  background: linear-gradient(to bottom, #EAEAEA 0%, #8A8A8A 100%);
  opacity: 0.3;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.numberSilver label:hover::after {
  opacity: 0.6;
}
.numberSilver input[type=checkbox] {
  visibility: hidden;
}
.numberSilver input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .numberSilver */

/* .numberGold */
.numberGold {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.numberGold label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right:119px;
  top:-150px;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.numberGold label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
  background: linear-gradient(to bottom, #CE8E00 0%, #C3BE1F 100%);
  opacity: 0.3;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.numberGold label:hover::after {
  opacity: 0.6;
}
.numberGold input[type=checkbox] {
  visibility: hidden;
}
.numberGold input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .numberGold */

/* .numberBronze */
.numberBronze {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.numberBronze label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right:-202px;
  top:-200px;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.numberBronze label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
  background: linear-gradient(to bottom, #F5631E 0%, #946F2A 100%);
  opacity: 0.3;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.numberBronze label:hover::after {
  opacity: 0.6;
}
.numberBronze input[type=checkbox] {
  visibility: hidden;
}
.numberBronze input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .numberBronze */

.podium{
  margin-top: -50px;
}