h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}

ul {
list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.axis path, .axis line {
    fill: none;
    stroke: black;

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

.btn {
	width: 100px;
	font-family: calibri, sans serif;
	padding: 10px;
	border: solid 1px black;
	color: white;
}

text{
   font-family: calibri, sans serif;
   font-size: 14;
}

p{
   font-family: calibri, sans serif;
   font-size: 12pt;
}

span{
	font-family: calibri, sans serif;
   font-size: 12pt;
}
}

#singleyearslider{
	width: 500px;
}

#bubble_map{
	background: #ddeeff;
	width: 600px;
	display: table-row;
	float:left;
}

#bar_chart{
	border-left: 20px solid;
	border-color: rgba(0, 0, 0, 0);
	width: 600px;
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#sportschoices{
	display: table-row;
	float:left;
}

#medalschoices{
	display: table-row;
}

#fieldinput{
	width:100%;
}

#country{
background-color:#f0D0D0;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 500px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 500px;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border: 1px solid #aaaaaa;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #d3d3d3;
  height: 21px;
  width: 21px;
  background: #e6e6e6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  border-radius: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
input[type=range]::-moz-range-track {
  width: 500px;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
border: 1px solid #aaaaaa;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #d3d3d3;
  height: 21px;
  width: 21px;
  background: #e6e6e6;
  cursor: pointer;
  border-radius: 0px;
}
input[type=range]::-ms-track {
  width: 500px;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: 1px solid #aaaaaa;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0.2px solid #010101;
}
input[type=range]::-ms-thumb {
  border: 1px solid #d3d3d3;
  height: 21px;
  width: 21px;
  background: #e6e6e6;
  cursor: pointer;
  border-radius: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}