h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}


.axis path, .axis line {
    fill: none;
    stroke: black;

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

.btn {
	width: 100px;
	font-family: calibri, sans serif;
	padding: 10px;
	border: solid 1px black;
	color: white;
}

text{
   font-family: calibri, sans serif;
   font-size: 14;
}

p{
   font-family: calibri, sans serif;
   font-size: 12pt;
}

span{
	font-family: calibri, sans serif;
   font-size: 12pt;
}
}

#divfor2slider{
	width: 500px;
}

#bubble_map{
	background: #ddeeff;
	width: 600px;
	display: table-row;
	float:left;
}

#bar_chart{
	border-left: 20px solid;
	border-color: rgba(0, 0, 0, 0);
	width: 600px;
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#sportschoices{
	display: table-row;
	float:left;
}

#medalschoices{
	display: table-row;
}

#fieldinput{
	width:100%;
}

#country{
background-color:#f0D0D0;
}